*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.product-card{
	background-color: #fff;
	padding: 18px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.card-tag{
	background-color: rgba(179 , 75 , 248 , 0.3);
	padding: 5px 10px;
	border-radius: 2px;
}
.card-header{
    margin-left: 90px;
	padding: 30px 50px;
	text-align: center;

}
.card-header img{
	max-height: 200px;
}
.product-title{
	font-size: 24px;
	color: #353535;
	margin: 20px 0;
}

.product-status{
	color: #808080;
}
.product-price{
	font-size: 30px;
	color: #353535;
	margin: 20px 0;
}
.card-footer{
	display: flex;
	justify-content: space-between;
}

.btn{
	padding: 10px 40px;
	border: none;
	font-family: inherit;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	width: 100%;
}

.btn-primary{
	background-color: #b34bf8;
	color: #fff;
}
.btn-primary:hover{
	background-color: #943EF0;
}

.btn-secondary{
	color: #808080;
}
.btn-secondary:hover{
	background-color: #9B9090;
	color: white;
}


.card-footer .btn:first-child{
	margin-right: 15px;
}

/* .next {

} */

.next a {
    background-color: blue;
    color: #fff;
    padding: 14px 20px;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0 10px 15px rgba(29, 71, 211, 0.774);
    /* border: 2px solid blue; */
}

div .next {
    text-align: center;
    width: 100%;
}

.last {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
}


.last input {
    border-radius: 300px;
    display: inline-block;
}


.flagged-tag {
    background-color: rgb(123, 255, 0);
	padding: 5px 10px;
	border-radius: 2px;
}

.flagged-card{
	background-color: #eee;
	padding: 18px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

footer {
    background-color: #222;
    color: #fff;
}

.awesome {
    letter-spacing: 5px;
   font-size: 24px;
   color: greenyellow;
}

.type {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

.second-type p {
    font-size: 16px;
    margin-right: 235px;
    font-weight: 400;
}

.third-type button {
    border: 1px solid blue;
    padding: 8px;
    background-color: red;
    color: #fff;
    font-size: 16px;
    font-family: cursive;
    margin-right: 328px;
    font-weight: 400;
}

.fourth-type button {
    border: 1px solid blue;
    padding: 8px;
    background-color: red;
    color: #fff;
    font-size: 16px;
    font-family: cursive;
    margin-right: 120px;
    border-radius: 300px;
    font-weight: 400;
}
